* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif; 
}


header::after {
	content: '';
	display: table;
	clear: both;
}

/* .headerBreak {
	border-bottom: 2px solid burlywood;

} */

body {
	/* background-image: url("../images/brown.png"); */
	/* background-color:  #525843; */
}

.myBackground{
	background-color: white;
}

.headerLogo {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.headerNav {
	float: right;
}

.headerNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.headerNav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 2.5em;
	position: relative;
}

.headerNav >ul >li >a {
	color: seagreen;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.navBg {
	background-color: white;
}

.myCarousel {
	height: 500px;
	width: 100%;
	overflow: hidden;
}

.myCarousel > div > img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}


/* start of categories card*/
span{
    font-size:15px;
}

.card-link {
  text-decoration: none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}

.box{
    padding:60px 0px;
}

.backgroundOfCard1 {
    background: linear-gradient(
    rgba(83,16,36,.5),
    rgba(83,16,36,.5)
    ), url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/AugustRecordingSonJarochoWikiLearning020.jpg/1200px-AugustRecordingSonJarochoWikiLearning020.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundOfCard2 {
    background: linear-gradient(
    rgba(83,16,36,.5),
    rgba(83,16,36,.5)
    ), url('https://upload.wikimedia.org/wikipedia/commons/6/65/The_Strokes_by_Roger_Woolman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundOfCard3 {
    background: linear-gradient(
    rgba(83,16,36,.5),
    rgba(83,16,36,.5)
    ), url('https://images.adsttc.com/media/images/511d/2ba4/b3fc/4ba2/a700/0278/large_jpg/1.jpg?1414340006');
    background-size: cover;
    background-repeat: no-repeat;
}

.box-part{
	height: 300px;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
    color: #f2f2f2;
	border-radius: 25px;
	border: 2px solid black;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#f2f2f2;
}

/*start of products card*/
.bg-cart {
    background-color: green;
	color: #fff;
	padding: 0.5em;
}

.star {
    color: red
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}
